html,
body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* background-image: url(/images/flower-1.jpg); */
}
canvas#app {
  display: block;
  width: 100%;
  height: 100%;
}

#loader {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  transform: translate(-50%, -50%);
  border-bottom: 4px solid #ffe64b;
  border-radius: 5px;
  padding: 0.5rem;
  box-shadow: 0 0 3px #aaa;
}

#loader.hidden {
  display: none;
}
