html,
body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* background-image: url(/images/flower-1.jpg); */
}
body {
  font-family: sans-serif;
  font-size: 13px;
}
a {
  color: #333;
  text-decoration: underline;
}
a:hover {
  color: black;
}
.attributions {
  position: absolute;
  right: 0;
  bottom: 0;
}
canvas#app {
  display: block;
  width: 100%;
  height: 100%;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}
.loader.visible {
  display: flex;
}
.dialog {
  width: 120px;
  border-top: 4px solid #ffe64b;
  border-radius: 5px;
  padding: 0.5rem;
  box-shadow: 0 0 3px #aaa;
  background-color: white;
}
.status {
  width: 40px;
  display: inline-block;
}
